@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap');

body{
    font-family: 'Texturina', serif;
    margin: 0;
}

#inputArea {
    display: block;
    padding: 1rem;
    border: 1.5px solid black;
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    font-size: large;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#outputArea {
    border: 2px solid black;
    height: 10vh;
    padding: 1rem;
    margin-top: 1rem;
}
#heading{
    height: 100px;
    background-color: rgba(226, 226, 6, 0.678);
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size: 2rem;
}
#btnTranslate{
    padding: 0.4rem 2rem;
    background-color: rgba(226, 226, 6, 0.678) ;
    border-radius: 0.5rem;
}
footer{
    background-color:  rgba(226, 226, 6, 0.678) ;
    margin-left: 0px;
    text-align: center;
}
main{
    margin: auto;
    padding: 1rem;
    align-items: center;
    width: 60%;
}

